.navbar{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    
  }
.navbar-items{
    display: flex;
}
.navbar-item{
     margin-right: 10px;
}
.navbar-logo{
    color: white;
    margin-left: 20px;
    
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
}
.navbar-logo-title{
    margin-right: 10px;
}